################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug/net6.0
/String/Easy/Caesar_Cipher_Encryptor/.vs/ConsoleApp1
/String/Easy/Caesar_Cipher_Encryptor/bin/Debug/net6.0
/String/Easy/Caesar_Cipher_Encryptor/obj
/String/Easy/Caesar_Cipher_Encryptor/.vs/Caesar_Cipher_Encryptor
/String/Easy/Caesar_Cipher_Encryptor/Caesar_Cipher_Encryptor.sln
/String/Easy/Caesar_Cipher_Encryptor/Caesar_Cipher_Encryptor.csproj
/String/Easy/Create Document/.vs/Generate_Document/v17
/String/Easy/Create Document/bin/Debug/net6.0
/String/Easy/Create Document/obj
/String/Easy/Caesar_Cipher_Encryptor/Caesar_Cipher_Encryptor/.vs/Caesar_Cipher_Encryptor/DesignTimeBuild
/String/Easy/Caesar_Cipher_Encryptor/.vs/Caesar_Cipher_Encryptor (2)
/String/Easy/Caesar_Cipher_Encryptor/Program.cs
